.contact_form{
    color: white;
    font-weight: 600;
    line-height: 30px;
}
label {
    font-size: 20px;
    font-weight: 600;
    color:white
}

.main_div {
    background: #075e62;
}

input#fname,input#lname,textarea#report,select#country {
  width: 100%;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}
input.submition_btn {
    border: none;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #075e62);
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 5px;
}
input.submition_btn:hover{
    background-image: linear-gradient(to right,#075e62 , rgba(255,0,0,0));
    transition: 1s;
}