
.main_register {
    background: #f3fcff;
    margin: 40px 0;
    padding: 20px;
    cursor: pointer;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 18px black;
}
.main_register:hover{
    box-shadow: 1px 1px 18px green;
    transition: all 0.5s;
}
input.email,input.password {
    border: none;
    padding: 2px 2px 2px 15px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
}
a.login_move {text-decoration: none;}
form{
    width: 50%;
}
.login_here{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(46, 43, 43);
}
.sign-in{
    color: rgb(47, 206, 94);
    font-size: 25px;
}
.email_icon{
    color: cadetblue;
    
}
.text-email,.email{
    font-family:cursive;
}
.password_icon{
    color:cadetblue
}
.password,.text-password{
    font-family:cursive;
}

/* register_btn */
.register_btn{
    font-family:cursive ;
    color: white;
    background-color: rgb(75, 115, 226);
    border-radius: 5px;
    margin-bottom: 5px;
}
.google{
    color: rgb(59, 55, 55);
    font-weight: bold;
}
.google_icon{
font-size: 20px;
color: rgb(211, 17, 17);
}